/* (A) ENTIRE PAGE */
#cart-wrap * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
#cart-wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.cart-products,
#cart-items {
  padding: 10px;
}
.cart-products {
  flex-grow: 1;
}
#cart-items {
  width: 180px;
}
input.cart,
button.cart {
  /*padding: 10px;
  border: 0;
  background: #ff4316;
  color: #fff;
  font-weight: 700;
  cursor: pointer;*/
  margin-bottom: 10px;
  border: 2px solid #704b1c;
  border-radius: 40px;
  width: 300px;
  color: #704b1c;
  border-image-slice:3;
  background: linear-gradient(90deg, rgba(246,160,21,1) 35%, rgba(209,138,80,1) 100%);/* var(--gradient) !important;*/
  /* -webkit-background-clip: text !important; */
  /*-webkit-text-fill-color: transparent !important;*/
 /* border-image-source: #704b1c/* var(--gradient) !important;*/
  text-decoration: none;
  /*transition: all 0.4s ease;*/
}

/* (B) PRODUCTS LIST */
.cart-products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}
.p-item {
  /*tarjeta de  producto */
  background: rgb(209, 139, 79);
  padding: 1px; /*Margen superior imagen*/
  border:3px solid rgb(255, 255, 255);
  border-radius: 42px;
  text-align: center;
  margin-bottom: 2rem;

}
.p-img {
  /* max-width: 150px; */
  /* border: 1px solid; */
  border-radius: 40px;
  width: 100%; /*ancho imagen*/
  height: 60%;
}
.p-name,
.p-price {
  font-weight: 100px;
}
.p-name,
.p-desc,
.p-price {
  margin: 5px;
}
.p-name {
  font-size: 1.35em;
  /* text-transform: uppercase; */
  color: rgb(246, 160, 26);
  text-shadow: 2px 2px 5px #704b1c;
}
.p-desc {
  color: rgb(125, 78, 36);
  font-size: 0.9em;
  height: 10%;
}
.p-price {
  color: rgb(246, 160, 26) ; 
  text-shadow: 2px 2px 5px #704b1c    ;
}
.p-add {
  width: 100%;
}

#template-cart{
  align-items: center;
}
/* (C) CURRENT SHOPPING CART */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}
.cart-row {
  display: flex;
}


#cart-items {
  background-color: color transparent initial inherit;
  align-items: center;
  color: rgba(12, 12, 12, 0.8);
  
  width: 100%;
  
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
} 


.c-item {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: .5em;
  
  
}
.c-name{
  font-size: 1.05em;
  font-weight: 700;
  height: 30px;
  width: 100%;
  margin-left: .75em;
}
.c-img{
  width: 150px;
  height: 100px;
  border-radius: 5px ;
}
.c-price {  /*modal*/
  width: 20%;
  font-size: 1.2em;
  color: rgb(218, 218, 218);
  text-shadow: #704b1c;
  
  
}

.c-total {
  font-size: 1.05em;
  font-weight: 700;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}
.c-del { /*boton remuve*/
  color: rgb(245, 238, 238);
  background-color: #704b1c;;
  border: none;
  border-radius: .1em;
  font-weight: bold;
}
.c-del:hover {
  background-color: #CC4C4C;
}
.c-qty {/*cantidad modal*/
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #704b1c;
  background-color: rgb(235, 222, 203);
  color: #704b1c;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

/* ----------FIN DE ITEMS VERSION 1 ALV-------------- */

button.c-empty,
button.c-checkout {
  width: 100%;
}

button.c-empty,
button.c-checkout {
  margin-top: 10px;
}
.c-empty,
.c-checkout {
  width: 100%;
}

/* (D) RESPONSIVE */
@media screen and (max-width: 640px) {
  .cart-products {
    grid-template-columns: 100%;
  }
}
/*estilo de las tarjetas, las dimenciones */

/* :root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
} */

/* .card {
  background: rgb(209, 139, 79);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}
.card {
  border: 5px solid;
  border-radius: 40px;
}

.card-img-top {
  border: 5px solid;
  border-radius: 40px 40px 0px 0px;
  width: 280px;
  height: 160px;
} */
